<div class="forgot-password-container">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <!-- <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div> -->
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class="text-center mt-sm-5 mb-4 text-white-50"> -->
                    <div style="position:absolute; left:10px; top:-25px;">
                        <!-- <div> -->
                            <a class="d-inline-block auth-logo" style="display: inline-block !important;">
                                <img src="../../../assets/images/Roboxa Logo.png" alt="" height="50" class="rbx-logo-image" >
                            </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <!-- end row -->
            <p-toast></p-toast>
            <div class="row justify-content-center" style="margin-top: 170px;">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4 card-bg-fill">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Forgot Password?</h5>
                            </div>
                            <div class="p-2">
                                <form [formGroup]="forgetForm">
                                    <div class="mb-3">
                                        <label class="label-text">Email
                                        <label class="required-field">*</label></label>
                                        <input autocomplete="off" style="margin-top:2%; border-radius: 15px; padding-left: 4px !important; " type="text" formControlName="username"
                                        appNoSpace [readonly]="enablePasswordField"                                             
                                        appMinMaxValidator [minLength]="6"
                                        [maxLength]="100" class="form-control username" id="username" placeholder="Enter Email">
                                        <div *ngIf="getFormControl('username')?.invalid && (getFormControl('username')?.dirty || getFormControl('username')?.touched)" class="text-danger small">
                                            <span *ngIf="getFormControl('username')?.errors?.['required']">Email is required.</span>
                                            <span *ngIf="getFormControl('username')?.errors?.['email']">Please Enter a valid email.</span>
                                            <span *ngIf="getFormControl('username')?.errors?.['maxlength']" class="text-danger small">Maximum 100 characters allowed.</span> 
                                        </div>                           
                                    </div>

                                    <div class="mb-3" *ngIf="!enableOTPField && !enablePasswordField">
                                        <button type="button" (click)="sendOTP()" class="btn submit-btn" [disabled]="forgetForm.get('username')?.invalid">Send OTP</button>
                                    </div>

                                    <div class="mb-3" *ngIf="enableOTPField">
                                        <label for="otp" class="form-label label-text">OTP
                                            <label class="required-field">*</label></label>
                                        <input autocomplete="off" appNoSpace type="text" formControlName="otp" maxlength="6"
                                        style="margin-top:2%; border-radius: 15px; padding: 4px !important; "
                                          class="form-control  mb-3" id="otp" placeholder="Enter OTP" appAlphanumeric>
                                          <div *ngIf="getFormControl('otp')?.invalid && (getFormControl('otp')?.dirty || getFormControl('otp')?.touched)" class="text-danger small">
                                            <span *ngIf="getFormControl('otp')?.errors?.['required']">otp is required</span>
                                        </div>
                                        <div class="otp-timer">
                                            <p id="timer" *ngIf="otpText">OTP will Expire in {{ min }}:{{ sec }}</p>
                                            <p id="timer" *ngIf="!otpText">OTP Expired.</p>
                                            <button type="button" (click)="otp()" class="btn btn-link resend-btn" [disabled]="isResendDisabled">Resend OTP</button>
                                        </div>
                                    </div>

                                    <div class="mb-3" *ngIf="enableOTPField">
                                        <button type="button" (click)="validateOTP()" class="btn submit-btn" [disabled]="!forgetForm.get('otp')?.value || !otpText">Validate OTP</button>
                                    </div>
                                    
                                    <div class="mb-3" *ngIf="enablePasswordField">
                                        <label class="label-text password-label form-group has-top-label w-100" for="password">New Password
                                        <label class="required-field">*</label>
                                        </label>
                                        <div class="input-group password-field">
                                            <input autocomplete="off" id="new_password" [type]="showPassword ? 'text' : 'password'" formControlName="new_password" (paste)="preventPaste($event)"
                                            maxlength="16" appMinMaxValidator [minLength]="6"
                                            [maxLength]="16" class="form-control password" placeholder="Enter New Password" style="border-radius: 15px; padding: 4px !important;">
                                            <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer">
                                                <i [ngClass]="showPassword ? 'las la-eye-slash' : ' las la-eye'"></i>
                                              </span>
                                        </div>
                                        <div *ngIf="forgetForm.get('new_password')?.invalid && (forgetForm.get('new_password')?.dirty || forgetForm.get('new_password')?.touched)" class="text-danger small">
                                            <span *ngIf="forgetForm.get('new_password')?.errors?.['required']">
                                              New Password is required.
                                            </span>
                                            <span *ngIf="forgetForm.get('new_password')?.errors?.['minlength']">
                                                New Password must be at least 6 characters long.
                                            </span>
                                            <span *ngIf="forgetForm.get('new_password')?.errors?.['maxlength']">
                                                New Password must not exceed 16 characters.
                                            </span>
                                            <span *ngIf="forgetForm.get('new_password')?.errors?.['invalidPassword']">
                                                New Password must be minimum 6 characters long and should include at least one uppercase letter, one numeric, and one special character.
                                            </span>
                                        </div>                                          
                                    </div>

                                    <div class="mb-3" *ngIf="enablePasswordField">
                                        <label class="label-text password-label form-group has-top-label w-100" for="password">Confirm Password
                                        <label class="required-field">*</label>
                                        </label>   
                                        <div class="input-group password-field">
                                            <input autocomplete="off" id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirm_password" (paste)="preventPaste($event)"
                                             maxlength="16" class="form-control password" placeholder="Enter Confirm Password" style="border-radius: 15px; padding: 4px !important;">
                                            <span class="input-group-text" (click)="showConfirmPasswordField()" style="cursor: pointer">
                                              <i [ngClass]="showConfirmPassword ? 'las la-eye-slash' : ' las la-eye'"></i>
                                            </span>
                                        </div>                                    
                                        <div *ngIf="getFormControl('confirm_password')?.invalid && (getFormControl('confirm_password')?.dirty || getFormControl('confirm_password')?.touched)" class="text-danger small">
                                            <span *ngIf="getFormControl('confirm_password')?.errors?.['required']">Confirm Password is required</span>
                                            <span *ngIf="getFormControl('confirm_password')?.hasError('passwordCheck')">New Password and Confirm Password Must Be Same</span>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="col-md-12" *ngIf="enablePasswordField">
                                          <button (click)="onSubmit()" class="btn submit-btn" [disabled]="!forgetForm.valid">Submit</button>
                                        </div>
                                    </div>
                                </form><!-- end form -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0" style="color: #fff;">Wait, I remember my password... <a href="index.html" class="fw-semibold text-primary text-decoration-underline"> Click here </a> </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
</div>