.forgot-password-container {
  height: 100vh;
  // opacity: 0.7;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 105, 180) 0%, rgb(81 87 95) 90%) !important 
}

.rbx-logo-image {
  position: relative !important;
  align-items: center !important;
  top: 2.5rem !important;
  height: 3.5rem !important;
}

.forgot-password-container .text-primary {
    --vz-text-opacity: 1;
    color: #000 !important;
    font-weight: bold;
}

.forgot-password-container .shape>svg {
    /* fill: white; */
}

.auth-one-bg .bg-overlay {
  opacity: 0.7 !important;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 105, 180) 0%, rgb(20, 23, 26) 90%) !important; 
}

.forgot-password-container .card.card-bg-fill {
  border-radius: 30px;
  width: 400px;
}

.password-field {
  display: flex;
  border-radius: 15px !important;
  border: 1px solid #ced4da !important;
  margin-top: 5px;
}

.forgot-password-container .auth-page-content .card {
    z-index: 9;
}

.forgot-password-container .required-field {
    color: red; 
    display: inline;
    margin-left: 4px; 
}

.forgot-password-container .submit-btn {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
    width: 100% !important;
    border-radius: 15px;
}

.otp-timer{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}
#timer {
  margin-bottom: 0px;
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.resend-btn {
  font-size: 14px;
  color: #007bff; /* Bootstrap primary color */
  text-decoration: none;
}

.resend-btn:disabled {
  color: #ccc; /* Disabled color */
  cursor: not-allowed;
}

.input-group-text {
    background: transparent;
    border: none;
  }
  
  .input-group-text i {
    font-size: 1.2rem;
    color: #6c757d;
  }
  
  .input-group-text:hover i {
    color: #000;
  }

  .input-group input{
    border: none;
  }

  .input-group{ 
    border: 1px solid #ced4da;
    border-radius: 5px;
  }