<div class="main-container">
    <div class="page-content">
        <div class="container-fluid">
            <p-toast></p-toast>
            <div class="row">
                <div class="col">
                    <div class="h-100">
                        <div class="row row-body" >
                            <div class="col-xl-12"> 
    <div class="card">
        <div class="card-header text-white d-flex justify-content-between align-items-center">
            <h4 *ngIf="!userId" class="mb-0">Add User</h4>
            <h4 *ngIf="userId" class="mb-0">Edit User</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm" class="row g-3">
                <div class="col-md-4">
                    <label class="form-label">User ID <span class="text-danger">*</span></label>
                    <select class="form-select"  *ngIf="!userId" formControlName="user_id" placeholder="Select User Id" 
                         (change)="onChangeEmployeeCode()">
                        <option value="" disabled selected>Select User Id</option>
                        <option *ngFor="let employee of employees" [value]="employee.employee_code">{{ employee.employee_code}}</option>
                        <!-- <option *ngFor="let employee of employees" [value]="employee.employee_code">{{ employee.employee_code + '-' + employee.name}}</option> -->
                    </select>
                        <input type="text" *ngIf="userId" class="form-control" formControlName="user_id" readonly>
                    <div *ngIf="getFormControl('user_id')?.invalid && (getFormControl('user_id')?.dirty || getFormControl('user_id')?.touched)" class="text-danger small">
                        <span *ngIf="getFormControl('user_id')?.errors?.['required']">Please Select User Id</span>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <label class="form-label">User ID <span class="text-danger">*</span></label>
                    <div class="input-group" *ngIf="!userId">
                        <span class="input-group-text" style="font-size: 12px;">RBX</span>
                        <input type="text" class="form-control" appNumbersOnly [disabled]="userId ? true :false" placeholder="User ID" 
                        formControlName="user_id" appNoSpace>
                    </div>
                    <div class="input-group" *ngIf="userId">
                        <span class="input-group-text" style="font-size: 12px;">RBX</span>
                        <input type="text" class="form-control" placeholder="User ID" formControlName="user_id"  readonly  appNoSpace appAlphanumeric>
                    </div>
                    <div *ngIf="getFormControl('user_id')?.invalid && (getFormControl('user_id')?.dirty || getFormControl('user_id')?.touched)" class="text-danger small">
                        <span *ngIf="getFormControl('user_id')?.errors?.['required']">Please Enter User ID</span>
                        <span *ngIf="getFormControl('user_id')?.errors?.['maxlength']">
                            User Id maximum length can not exceed 7 characters
                          </span>
                    </div>
                </div> -->
                
                <div class="col-md-4">
                    <label class="form-label">Name <span class="text-danger">*</span></label>
                    <!-- <input type="text" class="form-control name-ellipsis" placeholder="Enter Name" formControlName="name" 
                    appNoSpace appAllowOnlyChar appFirstLetterCapital> -->
                    <input type="text" class="form-control name-ellipsis" placeholder="Enter Name" formControlName="name" 
                    appNoSpace appAllowOnlyChar appFirstLetterCapital readonly>
                    <div *ngIf="getFormControl('name')?.invalid && (getFormControl('name')?.dirty || getFormControl('name')?.touched)" class="text-danger small">
                        <span *ngIf="getFormControl('name')?.errors?.['required']">Please Enter Name</span>
                        <span *ngIf="getFormControl('name')?.errors?.['minlength']">
                            Name must be at least 3 characters long
                          </span>
                          <span *ngIf="getFormControl('name')?.errors?.['maxlength']">
                            Name maximum length can not exceed 100 characters
                          </span>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <label class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" appNoSpace appNoSpecialChars placeholder="Enter Email" formControlName="email">
                    <div *ngIf="getFormControl('email')?.invalid && (getFormControl('email')?.dirty || getFormControl('email')?.touched)" class="text-danger small">
                        <span *ngIf="getFormControl('email')?.errors?.['required']">Please Enter Email</span>
                        <!-- <span *ngIf="getFormControl('email')?.errors?.['email']">Please enter a valid email</span> -->
                        <span *ngIf="getFormControl('email')?.errors?.['maxlength']">
                            Email maximum length can not exceed 100 characters
                          </span>
                        <span *ngIf="!getFormControl('email')?.errors?.['maxlength'] && getFormControl('email')?.errors?.['emailDomain']" style="display: block;">
                            Email must be in <i>xyz&#64;roboxaservices.com</i> format
                        </span>
                    </div>
                </div>                
                
                <div class="col-md-4" *ngIf="!userId">
                    <label class="form-label">Password <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input [type]="showPassword ? 'text' : 'password'"  class="form-control" appNoSpace 
                        placeholder="Enter Password" formControlName="password" appMinMaxValidator [minLength]="6"
                        [maxLength]="16">
                        <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                            <i [ngClass]="showPassword ? 'las la-eye-slash' : 'las la-eye'"></i>
                        </button>                      
                    </div>
                    <div *ngIf="getFormControl('password')?.invalid && (getFormControl('password')?.dirty || getFormControl('password')?.touched)" class="text-danger small">
                        <span *ngIf="getFormControl('password')?.errors?.['required']">Please Enter password</span>
                          <span *ngIf="getFormControl('password')?.errors?.['minlength']">
                            Password must be at least 6 characters long.
                          </span>
                          <span *ngIf="getFormControl('password')?.errors?.['maxlength']">
                            Password must not exceed 16 characters.
                          </span>
                          <span *ngIf="getFormControl('password')?.errors?.['invalidPassword']">
                            should include at least one uppercase letter, one numeric, and one special character.
                          </span>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <label class="form-label">Start Date <span class="text-danger">*</span></label>
                    <div>
                        <p-calendar
                        #calendar1 (keydown)="calendar1.showOverlay()" appDisableKeys
                        formControlName="start_date" [showTime]="false" appendTo="body"
                        dateFormat="dd/mm/yy" placeholder="Select start date" [maxDate]="maxStartDate"></p-calendar>
                    </div>
                    <!-- <input type="date" class="form-control" formControlName="start_date" placeholder="Enter Start Date" [max]="startDate"> -->
                    <div *ngIf="getFormControl('start_date')?.invalid && (getFormControl('start_date')?.dirty || getFormControl('start_date')?.touched)" class="text-danger small">
                        <span *ngIf="getFormControl('start_date')?.errors?.['required']">Please Select Start Date</span>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <label class="form-label">End Date <span class="text-danger">*</span></label>
                    <div>
                        <p-calendar
                        #calendar2 (keydown)="calendar2.showOverlay()" appDisableKeys
                        formControlName="end_date" [showTime]="false" appendTo="body"
                        dateFormat="dd/mm/yy" placeholder="Select end date"  (change)="testEnddate(getFormControl('end_date'),getFormControl('start_date'))"></p-calendar>
                    </div>
                    <!-- <input type="date" class="form-control" formControlName="end_date" placeholder="Enter End Date" [min]="endDate" (change)="testEnddate(getFormControl('end_date'),getFormControl('start_date'))"> -->
                    <div *ngIf="getFormControl('end_date')?.invalid && (getFormControl('end_date')?.dirty || getFormControl('end_date')?.touched)" class="text-danger small">
                        <span *ngIf="getFormControl('end_date')?.errors?.['required']">Please Select End Date</span>
                    </div>
                    <div *ngIf="userForm.errors?.['endDateLessThanStartDate'] && (getFormControl('end_date')?.dirty || getFormControl('start_date')?.dirty)" 
                    class="text-danger small">End date must be greater than start date.</div>
                </div>                
                
                <div class="col-md-4">
                    <label class="form-label">Mobile <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile" 
                    appMobileNumbersOnly>
                    <div *ngIf="getFormControl('mobile')?.invalid && (getFormControl('mobile')?.dirty || getFormControl('mobile')?.touched)" class="text-danger small">
                        <span *ngIf="getFormControl('mobile')?.errors?.['required']">Please Enter Mobile</span>
                        <span *ngIf="getFormControl('mobile')?.errors?.['maxlength']">
                            Mobile can not exceed 15 numbers.
                          </span>
                          <span *ngIf="getFormControl('mobile')?.errors?.['minlength']">
                            Mobile must be atleast 10 numbers.
                          </span>
                    </div>
                </div>
                
                <!-- <div class="row pt-3"  *ngIf="userForm.get('userId')?.value">
                    <div class="col-md-4">                                       
                        <label class="form-label">Role Name <span class="text-danger">*</span></label>
                        <div>
                            <p-multiSelect   (onChange)="addRole($event)"
                            formControlName="roleId"
                            [options]="roles" class="multiselectdropdown"
                            optionLabel="role_name" 
                            optionValue="role_name" 
                            placeholder="Select Role"
                            styleClass="p-multiselect-styled"
                            [panelStyle]="{'width':'100%'}">
                        </p-multiSelect>
                        </div>
                        <div *ngIf="userForm.get('roleId')?.invalid && (userForm.get('roleId')?.dirty || userForm.get('roleId')?.touched)" class="text-danger small">
                            <span *ngIf="userForm.get('roleId')?.errors?.['required']">Please Select Role</span>
                        </div>
                        <span *ngIf="isRoleExists" class="text-danger small">Role already exists,please update new role</span>
                    </div>
                </div>
                <div class="col-12 d-flex flex-wrap gap-2 mt-2">
                    <p-badge *ngFor="let role of selectedRoles" severity="secondary" [value]="role" styleClass="p-badge-pill larger-badge"></p-badge>
                </div> -->
                
                <div class="col-md-4">
                    <label for="status" class="form-label">Status<label class="required-field">*</label></label>
                    <select 
                    class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" 
                    formControlName="status">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    </select>
                    <div *ngIf="getFormControl('status')?.invalid && (getFormControl('status')?.dirty || getFormControl('status')?.touched)">
                        <span *ngIf="getFormControl('status')?.errors?.['required']" class="error-msg">Please select status</span>                    
                    </div>
                </div>

                <div class="col-md-4" *ngIf="userId">
                    <label class="form-label">Last Login</label>
                    <div class="form-control-plaintext">
                        {{ formatLastLogin(lastLogin)}}
                    </div>
                </div>
                
                <div class="col-12 text-center mt-4">
                    <button type="button" class="btn btn-secondary me-2"   (click)="back()">Cancel</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!getFormValidation()" (click)="onSubmit()">{{ buttonValue }}</button>
                </div>
            </form>
        </div>
    </div>
</div></div>
</div></div>
</div></div>
</div></div>