.card-header {
    background-color: #5c636a !important;
  }
  
.form-label{
    font-weight: bold !important;
    // font-weight: 450 !important;
  }

  .screen-header {
    display: flex;
    margin-top: 25px;
}

.table-title {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.delete-icon,
.edit-icon {
    color: #D95C9B;
    margin-top: 6px;
    cursor: pointer;
    padding: 0px
}

.delete-icon {
    margin-left: 20px;
}

td.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

.required-field {
    color: red;
}

.error-msg {
    font-weight: 500;
    color: red; 
    font-size:12px ;
    // background: #03e9f4;
}

.form-control.disableField {
    background-color: #e9ecef;
    opacity: 1;
}

.page-content th,
.page-content td {
    border-bottom: none;
}
  
::ng-deep p-calendar .p-calendar
 {
    width: 100% !important;
}

::ng-deep p-calendar .p-calendar input
  {
    // margin-left: 30px !important;
}

::ng-deep p-calendar .p-calendar input {
    cursor: pointer;
    font-size: 12px;
}

::ng-deep .p-dropdown-items {
    padding: 0px !important;
}

::ng-deep p-dropdown p-overlay .p-overlay.p-component {
    width: 100%;
}

::ng-deep p-dropdown .p-dropdown-label.p-inputtext {
    font-size: 12px;
    // font-size: 14px;
}
select .form-select option:hover {
    background-color: #5856d6 !important;
    color: white !important; 
  }

  ::ng-deep .p-dropdown-items {
    padding: 0px !important;
}

::ng-deep p-dropdown p-overlay .p-overlay.p-component {
    width: 100%;
}

::ng-deep p-dropdown .p-dropdown-label.p-inputtext {
    font-size: 12px;
    // font-size: 14px;
    padding-left: 0 !important;
}
::ng-deep .project-assign-container .p-dropdown {
    line-height: 1 !important;
    width: 100% !important;
    // width: 21.5rem !important;
    font-size: 12px !important;
    font-family: Mada, sans-serif;
    // font-size: 14px !important;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    font-family: Mada, sans-serif !important;
    font-size: 12px !important;
    // font-family: Roboto, "Helvetica Neue", sans-serif !important;
    // font-size: 14px !important;
 }
 
 
  
  
  