
<div class="main-container emp-dashboard">
    <div class="page-content">
        <div class="container-fluid">
            <p-toast></p-toast>
            <div class="row">
                <div class="col">
                    <div class="h-100">
                        <div class="row row-body" >
                            <div class="col-xl-12"> 
                                <div class="card">
                                    <div class="card-header text-white d-flex justify-content-between align-items-center">
                                        <h4 class="mb-0">Dashboard</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-md-4 year-section" [formGroup]="dashboardForm">
                                            <label for="yearSelect" class="select-year">Year</label>
                                            <div>
                                                <p-dropdown [options]="years"  formControlName="year" (onChange)="getDashboardData($event)"></p-dropdown>
                                            </div>
                                        </div> 
                                        
                                        <div class="row mt-30">
                                            <div class="col-md-6">                                            
                                                <!-- <p-table [value]="tableData">
                                                    <ng-template pTemplate="header">
                                                      <tr>
                                                        <th>Target Utilization(hrs)</th>
                                                        <th>Utilization(hrs)</th>
                                                        <th>Total Utilization(%)</th>
                                                      </tr>
                                                    </ng-template>
                                                    
                                                    <ng-template pTemplate="body" let-rowData>
                                                      <tr>
                                                        <td>{{ rowData.targetUtilization }}</td>
                                                        <td>{{ rowData.utilization }}</td>
                                                        <td>{{ rowData.totalUtilization }}</td>
                                                      </tr>
                                                    </ng-template>
                                                  </p-table>                                                   -->
                                            
                                                  <table class="table table-bordered utilization-table">
                                                    <tr class="header">
                                                      <!-- <th>Field</th>
                                                      <th *ngFor="let item of tableData; let i = index">Record {{ i + 1 }}</th> -->
                                                        <th>Utilization</th>
                                                        <th>Value</th>
                                                    </tr>
                                                    <tr class="tbody">
                                                      <td>Target</td>
                                                      <td *ngFor="let item of tableData">{{ item.targetUtilization }}</td>
                                                    </tr>
                                                    <tr class="tbody">
                                                      <td>Utilization</td>
                                                      <td *ngFor="let item of tableData">{{ item.utilization }}</td>
                                                    </tr>
                                                    <!-- <tr class="tbody">
                                                      <td>Total</td>
                                                      <td *ngFor="let item of tableData">{{ item.totalUtilization }}</td>
                                                    </tr> -->
                                                    <!-- <tr class="tbody">
                                                      <td>Target</td>
                                                      <td>{{ animatedData.targetUtilization.toFixed(0) }} {{ units.targetUtilization }}</td>
                                                    </tr>
                                                    <tr class="tbody">
                                                      <td>Approved</td>
                                                      <td>{{ animatedData.utilization.toFixed(2) }} {{ units.utilization }}</td>
                                                    </tr> -->
                                                    <tr class="tbody">
                                                      <td>Utilization/Target</td>
                                                      <td>{{ animatedData.totalUtilization.toFixed(2) }} {{ units.totalUtilization }}</td>
                                                    </tr>
                                                  </table>
                                                  
                                                </div>
                                            <div class="col-md-6" style="display: flex; justify-content: space-around;">
                                                <!-- <label style="font-weight: bold;">Total Utilization(%)</label>  -->
                                                <app-meter-gauge [percentage]="meterPercent"></app-meter-gauge>
                                                <div class="threshold-legend">
                                                  <div class="legend-item">
                                                    <!-- color will apply from 0 to 69.9 -->
                                                    <span class="color-box" style="background-color: red;"></span> 0–70
                                                  </div>
                                                  <div class="legend-item">
                                                    <!-- color will apply from 70 to 79.9 -->
                                                    <span class="color-box" style="background-color: lightcoral;"></span> 70–80
                                                  </div>
                                                  <div class="legend-item">
                                                    <!-- color will apply from 80 to 84.9 -->
                                                    <span class="color-box" style="background-color: yellow;"></span> 80–85
                                                  </div>
                                                  <div class="legend-item">
                                                    <!-- color will apply from 85 to 89.9 -->
                                                    <span class="color-box" style="background-color: #A5D6A7;"></span> 85–90
                                                  </div>
                                                  <div class="legend-item">
                                                    <!-- color will apply from 90 to 94.9 -->
                                                    <span class="color-box" style="background-color: #66BB6A;"></span> 90–95
                                                  </div>
                                                  <div class="legend-item">
                                                    <!-- color will apply from 95 to 100 -->
                                                    <span class="color-box" style="background-color: darkgreen;"></span> 95–100
                                                  </div>
                                                </div>                                                                                   
                                            </div>

                                            <div class="col-md-12">
                                                <label style="width: 100%; padding: 10px;" class="chart-header">Quarter / Month Wise Utilization Chart</label>
                                                <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart> 
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p-table [value]="pendingTableData" class="pending-table"
                                                    #dt2 [sortField]="'project_start_date'"
                                                    [globalFilterFields]="['project_code','project_description', 'project_start_date','project_end_date', 'project_manager', 'no_of_days_missing_entry']">
                                                    <ng-template pTemplate="caption">
                                                        <h4 class="card-title mb-0 flex-grow-1 table-title">Time Log Data</h4>
                                                        <div class="search-container">
                                                            <input type="text" pInputText (input)="applyFilterGlobal($event, 'contains')" placeholder="Search...">
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="header">
                                                      <tr>
                                                        <th>Project Code</th>
                                                        <th>Project Description</th>
                                                        <th pSortableColumn="project_start_date">Project Start Date<p-sortIcon field="project_start_date" /></th>
                                                        <th>Project End Date</th>
                                                        <th>Project Manager</th>
                                                        <th>Missed Days</th>
                                                        <th></th>
                                                      </tr>
                                                    </ng-template>
                                                    
                                                    <ng-template pTemplate="body" let-rowData>
                                                      <tr>
                                                        <td>{{ rowData.project_code }}</td>
                                                        <td>{{ rowData.project_description }}</td>
                                                        <td>{{ rowData.project_start_date }}</td>
                                                        <td>{{ rowData.project_end_date }}</td>
                                                        <td>{{ rowData.project_manager }}</td>
                                                        <td>{{ rowData.no_of_days_missing_entry }}</td>
                                                        <td (click)="addTimesheet()" class="add-entry">{{  'Add Entry' }}</td>
                                                      </tr>
                                                    </ng-template>
                                                  </p-table>
                                            </div>
                                        </div>                                        
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
