<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <p-toast></p-toast>
            <div class="row">
                <div class="col">
                    <div class="h-100">
                        <div class="row row-body">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header text-white d-flex justify-content-between align-items-center">
                                        <h4 class="mb-0">View User</h4>
                                        <a (click)="navigateToEditUser()" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit User">
                                            <i class="fas fa-user-edit text-white all-icons"></i>
                                          </a>
                                        
                                    </div>
                                    <div class="card-body">
                                            <div class="row gy-4 readonly-form">
                                                <div class="col-md-4">
                                                    <label class="form-label">User Id</label>
                                                    <div class="form-control-plaintext">
                                                        {{ userModel.user_id }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">Name</label>
                                                    <div class="form-control-plaintext truncated-text">
                                                        {{ userModel.name }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">Email</label>
                                                    <div class="form-control-plaintext">
                                                        {{ userModel.email }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">Mobile</label>
                                                    <div class="form-control-plaintext">
                                                        {{ userModel.mobile }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">Start Date</label>
                                                    <div class="form-control-plaintext">
                                                        {{ userModel.start_date | date: 'dd-MM-yyyy' }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">End Date</label>
                                                    <div class="form-control-plaintext">
                                                        {{ userModel.end_date | date: 'dd-MM-yyyy' }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">Status</label>
                                                    <div class="form-control-plaintext">
                                                        <span *ngIf="userModel.status === 'active'">Active</span>
                                                        <span *ngIf="userModel.status === 'inactive'">Inactive</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">Last Login</label>
                                                    <div class="form-control-plaintext">
                                                        {{ formatLastLogin(userModel.last_login)}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col text-center">
                                                    <a (click)="navigateToGrid()" class="btn btn-secondary">Back</a>
                                                </div>
                                            </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>