.card-header {
    background-color: #5c636a !important;
  }

::ng-deep .p-datatable-wrapper .p-datatable-thead th p-sorticon {
    /* float: right; */
}

::ng-deep .p-datatable-wrapper .p-datatable-thead th p-sorticon svg {
    width: 10px;
}

::ng-deep .p-datatable-wrapper .p-datatable-thead th {
    font-weight: 700 !important;
    font-size: 12px !important;
    // font-size: 14px !important;
    padding: .75rem !important;
}

::ng-deep .p-datatable-header {
    display: flex;
    background-color: #fff;
}

::ng-deep .p-datatable-header .search {
    padding-right: 10px;
}

::ng-deep .p-datatable-header .search input {
    padding: 6px;
}

::ng-deep .p-datatable-header .add a {
    /* background-color: #405189 !important; */
}

::ng-deep .p-datatable-wrapper {
    font-size: 0.85rem;
}

::ng-deep .p-datatable-tbody a.site-update-link {
    text-decoration: underline;
    cursor: pointer;
}

.row-hover:hover {
    background-color: #e0e0e0;  /* Light gray on hover */
}

::ng-deep .p-datatable-tbody tr td.right-align {
    text-align: right !important;
}