.card-header {
    background-color: #5c636a !important;
  }
  
  
  .btn:disabled {
    background-color: #D95C9B !important;
  }
  
  ::ng-deep .p-multiselect {
      line-height: 1 !important;
      width: 17rem !important;
      font-size: 12px !important;
      font-family: Mada, sans-serif;
   }
   .multiselectdropdown .p-multiselect-label {
      padding-left: 0 !important;
    }
    .multiselectdropdown {
      font-family: Mada, sans-serif;
    }
    ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
      font-family: Mada, sans-serif !important;
      font-size: 12px !important;
   }
  
    .btn.disabled, .btn:disabled, fieldset:disabled .btn {
      color: var(--bs-btn-disabled-color) !important;
      pointer-events: none !important;
      background-color: var(--bs-btn-disabled-bg);
      border-color: var(--bs-btn-disabled-border-color) !important;
      opacity: var(--bs-btn-disabled-opacity) !important;
  }
  
  ::ng-deep .p-datatable-wrapper .p-datatable-thead th p-sorticon svg {
    width: 10px;
  }
  
  ::ng-deep .p-datatable-wrapper .p-datatable-thead th {
    font-weight: 700 !important;
    font-size: 12px !important;
    padding: .75rem !important;
  }
  
  ::ng-deep .p-datatable-header {
    display: flex;
    background-color: #fff;
  }
  
  ::ng-deep .p-datatable-header .search {
    padding-right: 10px;
  }
  
  ::ng-deep .p-datatable-header .search input {
    padding: 6px;
  }
  
  ::ng-deep .p-datatable-wrapper {
    font-size: 0.85rem;
  }
  
  ::ng-deep .p-datatable-tbody a.site-update-link {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .row-hover:hover {
    background-color: #e0e0e0;  /* Light gray on hover */
  }

  ::ng-deep .emp-code p-multiselect {
    display: flex;
    width: 100% !important;
  }

  ::ng-deep .hr-report p-dropdown .p-dropdown.p-inputwrapper {
    max-width: 100%;
    line-height: 12px;
  }

  ::ng-deep .hr-report p-dropdown .p-dropdown-label.p-inputtext {
    font-size: 12px;
  }