<div class="main-container">
    <div class="page-content">
        <div class="container-fluid">
            <p-toast></p-toast>
            <div class="row">
                <div class="col">
                    <div class="h-100">
                        <div class="row row-body" >
                            <div class="col-xl-12"> 
            <div class="card">
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Timesheet Approval</h4>
                </div>
                <div class="card-body sheet-approval">         
         <form [formGroup]="timesheetApprovalForm">
            <div class="row">
                <div class="col">
                    <div class="h-100">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row gy-4">
                                                    <div class="col-md-2">
                                                        <!-- <label class="form-label">Project Code<span class="text-danger">*</span></label>
                                                        <select class="form-select" formControlName="project_code"  placeholder="Select Project Code"(change)="onChangeProjectCode()">
                                                            <option value="" disabled selected>Select Project Code</option>
                                                            <option *ngFor="let item of projects" [value]="item.project_code">{{ item.project_code }}</option>
                                                        </select>  -->
                                                        <label for="iconInput" class="form-label">Project Code<label class="required-field">*</label> </label>                                                    
                                                        <div>
                                                            <p-dropdown 
                                                            [options]="projects" 
                                                            optionLabel="formattedLabel" 
                                                            optionValue="project_code"
                                                            placeholder="Select Project Code" 
                                                            formControlName="project_code"
                                                            [filter]="true" 
                                                            filterBy="project_code">
                                                            </p-dropdown>
                                                        </div>   
                                                    <div *ngIf="getFormControl('project_code')?.invalid && (getFormControl('project_code')?.dirty || getFormControl('project_code')?.touched)">
                                                        <span *ngIf="getFormControl('project_code')?.errors?.['required']" style="color: red; font-size:12px ;">Please Select Project Code</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <label for="iconInput" class="form-label">Employee Code</label>
                                                            <!-- <input type="text" class="form-control form-control-icon" placeholder="Enter Employee Code" formControlName="employee_code"> -->
                                                            <div>
                                                                <p-dropdown 
                                                                formControlName="employee_code"
                                                                [options]="employeeDetails"
                                                                optionLabel="employee_codewithName" 
                                                                optionValue="employee_code" 
                                                                placeholder="Select Employee Code"
                                                                [showClear]="true"
                                                                [filter]="true">
                                                                </p-dropdown>
                                                            </div>
                                                    </div>
                                                </div> 
                                                <div class="col-md-2">
                                                    <label class="form-label">Status<span class="text-danger">*</span></label>
                                                    <select class="form-select" formControlName="status"  placeholder="Select Status">
                                                        <option value="" disabled selected>Select Status</option>
                                                        <option *ngFor="let status of statusList" [value]="status.value">{{ status.name }}</option>
                                                    </select> 
                                                <div *ngIf="getFormControl('status')?.invalid && (getFormControl('status')?.dirty || getFormControl('status')?.touched)">
                                                    <span *ngIf="getFormControl('status')?.errors?.['required']" style="color: red; font-size:12px ;">Please Select Status</span>
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-2">
                                                <div>
                                                    <label for="year" class="form-label">Month<label class="required-field">*</label></label>
                                                    <div class="form-icon">
                                                        <select class="form-select" formControlName="month" id="month"  >
                                                            <option value="" disabled selected>Select Month</option>
                                                            <option *ngFor="let mt of months" [value]="mt.id">{{ mt.name }}</option>
                                                        </select>
                                                     </div>
                                                    <div *ngIf="getFormControl('month')?.invalid && (getFormControl('month')?.dirty || getFormControl('month')?.touched)">
                                                        <span *ngIf="getFormControl('month')?.errors?.['required']" style="color: red; font-size:12px ;">Please select Month</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <label for="year" class="form-label">Year<label class="required-field">*</label></label>
                                                    <div class="form-icon">
                                                        <select class="form-select" [(ngModel)]="selectedYear" formControlName="year" id="year"  >
                                                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                                        </select>
                                                     </div>
                                                    <div *ngIf="getFormControl('year')?.invalid && (getFormControl('year')?.dirty || getFormControl('year')?.touched)">
                                                        <span *ngIf="getFormControl('year')?.errors?.['required']" style="color: red; font-size:12px ;">Please select Year</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 text-center" style="margin-top: 48px !important;">
                                            <!-- <div class="col-12 text-center mt-4"> -->
                                                <button type="submit" style="font-size: 12px; padding: 8px 18px;" class="btn btn-primary" [class.disabled]="!getFormValidation()" (click)="getTimesheetProjectCode()">Submit</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row gy-4">
            <div class="col-md-2">
                <label class="form-label">Project Code</label>
               <div class="form-control-plaintext readonly-form">
                   {{projectTimesheet.project_code}}
                </div>
            </div> 
            <div class="col-md-4">
                <label class="form-label">Project Description</label>
               <div class="form-control-plaintext readonly-form">
                   {{projectTimesheet.project_description}}
                </div>
            </div> 
            <div class="col-md-2">
                <label class="form-label">Budgeted Hours</label>
                <div class="form-control-plaintext readonly-form">
                    {{projectTimesheet.budgeted_hours}}
                </div>
            </div>
            <div class="col-md-2">
                <label class="form-label">Allocated Hours</label>
                <div class="form-control-plaintext readonly-form">
                    {{projectTimesheet.allocated_hours}}
                </div>
            </div>
            <div class="col-md-2">
                <label class="form-label">Worked Hours</label>
                <div class="form-control-plaintext readonly-form">
                    {{projectTimesheet.total_worked_hours}}
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                <div class="h-100">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <!-- <div class="card-header project-hrs">
                                    Project Hours
                                </div> -->
                                <div class="card-body">
                                    <p-table [value]="projectHours.phases"
                                                [tableStyle]="{ 'min-width': '50rem' }"
                                                #dt2
                                                [globalFilterFields]="['phase_name', 'budgeted_hours' ,'allocated_hours','worked_hours', 'balance_hours']"
                                                [scrollable]="true" 
                                                scrollHeight="400px">
                                            
                                                <ng-template pTemplate="header">
                                                    <tr class="table-header">
                                                        <th pSortableColumn="phase_name" style="width:10%;">Phase<p-sortIcon field="phase_name" /></th>
                                                        <th pSortableColumn="budgeted_hours" style="width:10%;">Budgeted Hours<p-sortIcon field="budgeted_hours" /></th>
                                                        <th pSortableColumn="allocated_hours" style="width:10%;">Allocated Hours<p-sortIcon field="allocated_hours" /></th>
                                                        <th pSortableColumn="worked_hours" style="width:10%;">Worked Hours<p-sortIcon field="worked_hours" /></th>
                                                        <th pSortableColumn="balance_hours" style="width:10%;">Balance Hours<p-sortIcon field="balance_hours" /></th>
                                                    </tr>
                                                </ng-template>
                                                
                                                <ng-template pTemplate="body" let-phase let-rowIndex="rowIndex">
                                                    <tr class='row-hover'>
                                                        <td class="readonly-form">{{ phase.phase_name }}</td>
                                                        <td class="readonly-form">{{ phase.budgeted_hours }}</td>
                                                        <td class="readonly-form">{{ phase.allocated_hours }}</td>
                                                        <td class="readonly-form">{{ phase.worked_hours }}</td>
                                                        <td class="readonly-form">{{ phase.balance_hours }}</td>
                                                    </tr>
                                                </ng-template>
                                                
                                                <ng-template pTemplate="emptymessage">
                                                    <tr>
                                                        <td colspan="10" class="text-center">No data found</td>
                                                    </tr>
                                                </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <hr>
        <div class="row">
            <div class="col">
                <div class="h-100">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive table-card">                                        
                                        <p-table [value]="projectTimesheet.timesheet_entries"
                                        [tableStyle]="{ 'min-width': '50rem' }"
                                        #dt1
                                        [globalFilterFields]="['employee_code','employee_name','date','project_code','description', 'project_role','new_description','worked_hours','remarks','status','comments']"
                                        [scrollable]="true" 
                                        scrollHeight="400px"
                                        [sortField]="'date'">

                                        <ng-template pTemplate="caption">
                                            <h4 class="card-title mb-0 flex-grow-1 table-title"></h4>
                                            <!-- <div class="add">
                                                <i class="fas fa-thin fa-calendar-days" (click)="addTimesheet()"data-bs-toggle="tooltip" data-bs-placement="top" title="Add Timesheet"></i>
                                            </div> -->
                                            <div class="search-container">
                                                <i class="fas fa-search search-icon"></i>
                                                <input type="text" pInputText (input)="applyFilterGlobal($event, 'contains')" placeholder="Search...">
                                            </div>
                                        </ng-template>
                               
                                  <ng-template pTemplate="header">
                                      <tr class="table-header">
                                        <!-- <th style="width:10%;">Employee Code</th> -->
                                        <th pSortableColumn="employee_code">Employee Code<p-sortIcon field="employee_code" /></th>
                                        <th style="width:10%;">Employee Name</th>
                                          <!-- <th style="width:15%;">Date</th> -->
                                          <th pSortableColumn="date">Date<p-sortIcon field="date" /></th>
                                          <th style="width:10%;">Project Code</th>
                                          <th style="width:20%;">Description</th>
                                          <th style="width:10%;">Project Role</th>
                                          <!-- <th style="width:10%;">Allocated Hours</th>
                                          <th style="width:10%;">Booked Hours</th> -->
                                          <th style="width:15%;">Phase</th>
                                          <th style="width:15%;">Task Description</th>
                                          <th style="width:10%;">Worked Hours</th>
                                          <!-- <th style="width:15%;">Task Description</th> -->
                                          <th style="width:10%;">Remarks</th>
                                          <th style="width:5%;">
                                            <label>Select All</label>
                                            <p-checkbox 
                                              [(ngModel)]="selectAll" 
                                              (onChange)="toggleSelectAll($event)" 
                                              binary="true"
                                              class="small-checkbox">
                                            </p-checkbox>
                                          </th>                                          
                                          <th style="width:5%;">Status</th>
                                          <th style="width:5%;">Comments</th>
                                      </tr>
                                  </ng-template>
                                  
                                  <ng-template pTemplate="body" let-timesheetData let-rowIndex="rowIndex">
                                      <tr [ngClass]="{ 'weekend': isWeekend(timesheetData.date) }">
                                        <td>{{ timesheetData.employee_code }}</td>
                                        <td>{{ timesheetData.employee_name }}</td>
                                          <td>{{ timesheetData.date | date: 'dd-MM-yyyy' }}</td>
                                          <td>{{ timesheetData.project_code }}</td>
                                          <td>{{ timesheetData.description }}</td>
                                          <td>{{ timesheetData.project_role }}</td>
                                          <!-- <td>{{ timesheetData.allocated_hours }}</td>
                                          <td>{{ timesheetData.booked_hours }}</td> -->
                                          <td>{{ getPhaseName(timesheetData.task_description) }}</td>
                                          <td>{{ timesheetData.new_description }}</td>
                                          <td>{{ timesheetData.worked_hours }}</td>
                                          <!-- <td>{{ timesheetData.task_description }}</td> -->
                                          <td>{{ timesheetData.remarks }}</td>
                                          <td>
                                            <p-checkbox 
                                              [(ngModel)]="timesheetData.selected" 
                                              binary="true"
                                              class="small-checkbox">
                                            </p-checkbox>
                                          </td>                                          
                                          <td >
                                            <select [(ngModel)]="timesheetData.status" (change)="updateStatus(rowIndex, timesheetData.status)">
                                                <option value="approved">Approved</option>
                                                <option value="rejected">Rejected</option>
                                            </select>
                                            <!-- <select *ngIf="timesheetApprovalForm.get('status')?.value ==='open'" [(ngModel)]="timesheetData.status" (change)="updateStatus(rowIndex, timesheetData.status)">
                                                <option value="approved">Approved</option>
                                                <option value="rejected">Rejected</option>
                                            </select>
                                            <div *ngIf="timesheetApprovalForm.get('status')?.value !=='open'">
                                                {{ timesheetData.status  | uppercase }}
                                            </div> -->
                                          </td>
                                          <!-- <td>
                                                <div *ngIf="timesheetData.status==='open'">
                                                <div style="display: flex; gap: 5px;">
                                                    <button type="button" class="btn btn-danger btn-sm custom-btn" (click)="rejected(rowIndex,'rejected')">Rejected</button>
                                                    <button type="submit" class="btn btn-success btn-sm custom-btn" (click)="approved(rowIndex,'approved')">Approved</button>
                                                </div>
                                                </div>
                                                <div *ngIf="timesheetData.status!=='open'">
                                                {{ timesheetData.status  | uppercase }}
                                                </div>
                                            </td> -->
                                          <td>
                                            <input type="text" [(ngModel)]="timesheetData.comments" class="form-control"
                                            [class.is-invalid]="timesheetData.showCommentError"
                                            (ngModelChange)="onCommentChange(timesheetData)" 
                                            data-bs-toggle="tooltip" data-bs-placement="top" [title]="timesheetData.comments">
                                            <div *ngIf="timesheetData.showCommentError">
                                            <span style="color: red;">Please enter comments</span>
                                            </div>
                                          </td>
                                      </tr>
                                  </ng-template>
                                  
                                  <ng-template pTemplate="emptymessage">
                                      <tr>
                                          <td colspan="10" class="text-center">No data found</td>
                                      </tr>
                                  </ng-template>
                               </p-table>
                               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        
        <div class="status-container  col-12 text-center mt-4">
            <div class="status-box weekend"></div><span>Week Off</span>
        </div>
       
        <div class="col-12 text-center mt-4">
            <a class="btn btn-primary waves-effect waves-light" (click)="timesheetApproval()">Submit</a>
        </div>
        <!-- <div class="col-12 text-center mt-4" *ngIf="timesheetApprovalForm.get('status')?.value == 'open'">
            <a class="btn btn-primary waves-effect waves-light" (click)="timesheetApproval()">Submit</a>
        </div> -->
 </div> 
</div>
</div>
</div>
</div></div>
</div></div>
</div></div>