<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <p-toast></p-toast>
            <div class="row">
                <div class="col">
                    <div class="h-100">
                        <div class="row row-body">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive table-card">
                                            <p-table [value]="employeeDetails"
                                                     [tableStyle]="{ 'min-width': '50rem','width': '100%'}"
                                                     [paginator]="employeeDetails.length > 0"
                                                     [rows]="10"
                                                     [rowsPerPageOptions]=[10,20,30,40,50]
                                                     [showCurrentPageReport]="employeeDetails.length > 0"
                                                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                     #dt2
                                                     [globalFilterFields]="['employee_code','name','designation', 'joining_date', 'manager']">
                                                     <ng-template pTemplate="caption">
                                                        <h4 class="card-title mb-0 flex-grow-1 table-title">Employees List</h4>
                                                        <div class="add">
                                                            <i class="fas fa-user-plus" (click)="addEmployee()"data-bs-toggle="tooltip" data-bs-placement="top" title="Add Employee"></i>
                                                        </div>
                                                        <div class="search-container">
                                                            <i class="fas fa-search search-icon"></i>
                                                            <input type="text" pInputText (input)="applyFilterGlobal($event, 'contains')" placeholder="Search...">
                                                        </div>
                                                    </ng-template>
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th pSortableColumn="employee_code">Employee Code <p-sortIcon field="employee_code" /></th>
                                                        <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                                                        <th pSortableColumn="designation">Designation <p-sortIcon field="designation" /></th>
                                                        <th pSortableColumn="joining_date">Joining Date <p-sortIcon field="joining_date" /></th>
                                                        <th pSortableColumn="manager">Manager <p-sortIcon field="manager" /></th>
                                                        <!-- <th>Delete</th>  -->
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-employee>
                                                    <tr>
                                                        <td><a (click)="navigateToView(employee.employee_code)" class="site-update-link">{{ employee.employee_code }}</a></td>
                                                        <td>{{ employee.name }}</td>
                                                        <td>{{ employee.designation }}</td>
                                                        <td>{{ employee.joining_date | date: 'dd-MM-yyyy' }}</td>
                                                        <td>{{ employee.manager }}</td>
                                                        <!-- <td><a (click)="deleteEmployee(employee.employee_code)" class="site-update-link "><i class="las la-trash text-danger" style="font-size: 20px;"></i></a></td>  -->
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="emptymessage">
                                                    <tr>
                                                        <td colspan="6" class="text-center">No data found</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>