.card-header {
    background-color: #5c636a !important;
  }
  
.pointer {
    cursor: pointer;
}

.required-field {
    color: red; 
    display: inline;
}

.cancel-btn {
    margin-right: 5px;
    border: 1px solid;
}

::ng-deep p-calendar .p-calendar
 {
    width: 100% !important;
}

::ng-deep p-calendar .p-calendar input
 {
    margin-left: 30px !important;
}

::ng-deep p-calendar .p-calendar input {
    cursor: pointer
}

::ng-deep .p-dropdown-items {
    padding: 0px !important;
}

::ng-deep p-dropdown p-overlay .p-overlay.p-component {
    width: 100%;
}

::ng-deep p-dropdown .p-dropdown-label.p-inputtext {
    font-size: 12px;
    // font-size: 14px;
}